body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 20px;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-left: 50px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.nav-links-left {
    display: flex;
    margin-left: 20px;
}


.nav-links-left a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-links-left a:hover {
    /* background-color: #ddd; */
    color: #007bff;
}

.right-nav {
    display: flex;
}

.right-nav a {
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 5px; */
    text-decoration: none;
    margin-right: 60px;
}

.right-nav a:hover {
    /* background-color: #ddd; */
    color: #007bff;
}